@font-face {
  font-family: 'Poppins';
  src: url('../../../../public/fonts/poppins/poppins-v20-latin-regular.woff2')
      format('woff2'),
    url('../../../../public/fonts/poppins/poppins-v20-latin-regular.woff')
      format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../../../public/fonts/poppins/poppins-v20-latin-700.woff2')
      format('woff2'),
    url('../../../../public/fonts/poppins/poppins-v20-latin-700.woff')
      format('woff');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Poppins';
  src: url('../../../../public/fonts/poppins/poppins-v20-latin-600.woff2')
      format('woff2'),
    url('../../../../public/fonts/poppins/poppins-v20-latin-600.woff')
      format('woff');
  font-style: normal;
  font-weight: 600;
}
